body {
	background-color: #010101;
	overflow-y: auto;
	overflow-x: hidden;
	padding-top: 20px;
}

button {
	outline: none;
}

h1 {
	font-size: 40px;
	color: #862016;
	margin-top: 0;
}

p {
	font-size: 14px;
	letter-spacing: 0em;
	line-height: 1.7em;
	margin-bottom: 1.9em;
	color: #9fa6aa;
}

/* 故障动画 */
@keyframes glitcha {
	0% {
		transform: translate3d(0, 0, 0);
	}

	20% {
		transform: translate3d(0, 0, 0);
	}

	23% {
		transform: translate3d(5px, 4px, 0);
	}

	26% {
		transform: translate3d(0, 0, 0);
	}

	60% {
		transform: translate3d(0, 0, 0);
	}

	66% {
		transform: translate3d(0, 0, 0);
	}

	70% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}

	73% {
		opacity: 0.3;
		transform: translate3d(5px, -4px, 0);
	}

	76% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}

	100% {
		transform: translate3d(0, 0, 0);
	}
}

@keyframes glitchb {
	0% {
		transform: translate3d(0, 0, 0);
	}

	10% {
		transform: translate3d(0, 0, 0) scale(1);
	}

	12% {
		transform: translate3d(5px, -4px, 0) scale(0.93);
	}

	14% {
		transform: translate3d(0, 0, 0) scale(1);
	}

	18% {
		transform: translate3d(0, 0, 0) scale(1);
		filter: invert(0%);
	}

	20% {
		transform: translate3d(-3px, 4px, 0) scale(1.05);
		filter: invert(90%);
	}

	22% {
		transform: translate3d(0, 0, 0) scale(1);
		filter: invert(0%);
	}

	30% {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}

	32% {
		transform: translate3d(-4px, -3px, 0);
		opacity: 0.3;
	}

	34% {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}

	40% {
		opacity: 1;
		transform: translate3d(0, 0, 0) scale(1) skew(0deg);
	}

	43% {
		opacity: 0.3;
		transform: translate3d(8px, -4px, 0) scale(1.09) skew(35deg);
	}

	46% {
		opacity: 1;
		transform: translate3d(0, 0, 0) scale(1) skew(0deg);
	}

	90% {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}

	93% {
		transform: translate3d(-4px, -3px, 0);
		opacity: 0.5;
	}

	96% {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}

	100% {
		transform: translate3d(0, 0, 0);
	}
}

@keyframes glitchc {
	0% {
		transform: skew(0deg);
	}

	20% {
		transform: skew(0deg);
	}

	24% {
		transform: skew(-7deg);
	}

	28% {
		transform: skew(0deg);
	}

	70% {
		transform: skew(0deg);
	}

	73% {
		transform: skew(9deg);
	}

	76% {
		transform: skew(0deg);
	}

	100% {
		transform: skew(0deg);
	}
}

@keyframes glitchd {
	0% {
		transform: translate3d(0, 0, 0);
	}

	20% {
		transform: translate3d(0, 0, 0);
	}

	23% {
		transform: translate3d(5, 4, 0);
	}

	26% {
		transform: translate3d(0, 0, 0);
	}

	60% {
		transform: translate3d(0, 0, 0);
	}

	63% {
		transform: translate3d(-4, -3, 0);
	}

	66% {
		transform: translate3d(0, 0, 0);
	}

	70% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}

	73% {
		opacity: 0.3;
		transform: translate3d(5px, -3px, 0);
	}

	76% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}

	100% {
		transform: translate3d(0, 0, 0);
	}
}

/* 导航菜单 */
.navbar {
	border: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.12);
	margin-bottom: 0;
}

.navbar-default {
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 0;
	width: 100%;
}

.navbar-default .navbar-collapse {
	border: none;
}

.navbar-brand img {
	width: 100px;
	height: 50px;
	margin-top: -15px;
}

.navbar_nav {
	width: 360px;
	margin: 0 auto;
}

@media (max-width:767px) {
	.navbar-default .navbar-collapse {
		width: 100%;
		position: absolute;
		z-index: 99;
		background-color: rgba(0, 0, 0, 0.8);
	}

	.navbar_nav {
		margin: 0;
		width: 100%;
	}

	.navbar-nav {
		margin: 7.5px -10px;
	}

	.nav>li.sign_hide {
		display: none;
	}

	.navbar-brand {
		padding-left: 5px;
	}
}

.separator:before {
	content: '';
	display: block;
	width: 1px;
	height: 20px;
	margin: 15px 5px 0;
	background-color: #262626;
}

.navbar-default .navbar-nav>li>a:link,
.navbar-default .navbar-nav>li>a:visited {
	font-family: none;
	font-size: 14px;
	font-weight: 600;
	color: rgba(255, 255, 255, 0.65);
	transition: color 0.37s;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #d8d8d8;
	animation: glitcha 0.8s infinite alternate;
}

.collapse .in {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	z-index: 300;
}

/* 汉堡菜单 */
.navbar-toggle {
	float: left;
	margin-top: 10px;
	margin-right: 0;
	margin-left: 10px;
	border: none;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
	background-color: transparent;
}

.navbar-toggle .icon-bar {
	height: 1px;
	border-radius: 0;
}

.navbar-toggle .icon-bar+.icon-bar {
	margin-top: 5px;
}

/* 小屏幕登录按钮 */
.user_sign {
	display: block;
	font-size: 14px;
	font-weight: 600;
	color: rgba(255, 255, 255, 0.65);
	transition: color 0.37s;
	position: absolute;
	right: 0;
	margin: 15px;
	cursor: pointer;
}

.user_sign:hover {
	color: #d8d8d8;
	animation: glitcha 0.8s infinite alternate;
}

.userinfo_box {
	display: none;
}

@media (max-width:767px) {
	.userinfo_box {
		display: block;
	}
}

/* 登录 */
.popup-mask {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .2);
	z-index: 9999;
	display: none;
}

.sign {
	overflow: hidden;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 700px;
	height: 390px;
	background-color: #000000;
	border: 1px solid rgba(255, 255, 255, 0.15);
	z-index: 10000;
	transition: 0.87s cubic-bezier(0.7, 0.3, 0, 1);
}

.a_close {
	background: url("../images/sign in/close.png") no-repeat;
	position: absolute;
	top: 10px;
	right: 10px;
	width: 24px;
	height: 24px;
	z-index: 2;
	transition: .5s;
}

.a_close:hover {
	background: url("../images/sign in/close_hover.png") no-repeat;
}

.sign_title {
	text-align: center;
	color: #862016;
	margin-top: 60px;
}

.usersign {
	width: 45%;
	margin: 0 auto;
}

.usersign_input {
	background: #111111;
	border: solid 1px #212122;
	color: #565656;
	width: 100%;
	height: 50px;
	margin-top: 30px;
	outline: none;
}

/* 设置input内volue的字体大小 */
input::-webkit-input-placeholder {
	font-size: 16px;
}

.usersign_but {
	display: block;
	margin: 0 auto;
	width: 60%;
	height: 40px;
	color: #c3c2c2;
	font-size: 20px;
	text-align: center;
	line-height: 40px;
	background-color: #862016;
	border-radius: 3px;
	margin-top: 30px;
	border: 0;
}

.usersign_but:hover {
	color: #c3c2c2;
	text-decoration: none;
	animation: glitchb 0.8s infinite alternate;
}

.login_a {
	position: absolute;
	bottom: 10px;
	transition: color 0.37s;
}

.login_a:link,
.login_a:visited {
	color: rgba(255, 255, 255, 0.65);
	text-decoration: none;
}

.login_a:hover {
	color: #d8d8d8;
	text-decoration: none;
}

.sign .forget {
	right: 160px;
}

.sign .register {
	right: 80px;
}

.sign .feedback {
	right: 15px;
}

@media (max-width:992px) {
	.sign {
		width: 520px;
		height: 330px;
	}

	.sign_title {
		font-size: 22px;
		margin-bottom: 0;
	}

	.usersign_input {
		height: 40px;
		margin-top: 20px;
	}

	.usersign_but {
		margin-top: 20px;
		height: 35px;
		line-height: 35px;
		font-size: 16px;
	}

	input::-webkit-input-placeholder {
		font-size: 14px;
	}
}

@media (max-width:767px) {
	.sign {
		width: 350px;
		height: 215px;
	}

	.sign_title {
		font-size: 18px;
		margin-top: 35px;
		margin-bottom: 0;
	}

	.usersign_input {
		margin-top: 10px;
		height: 25px;
	}

	.usersign_but {
		margin-top: 10px;
		font-size: 14px;
		height: 30px;
		line-height: 30px;
	}

	input::-webkit-input-placeholder {
		font-size: 12px;
	}

	.login_a {
		bottom: 3px;
		font-size: 1px;
	}

	.sign .forget {
		right: 135px;
	}

	.sign .register {
		right: 65px;
	}

	.sign .feedback {
		right: 7px;
	}
}

/* 封面 */
.loop-ani-traced-move {
	opacity: 0.6;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	animation: glitcha 0.8s infinite alternate;
}

.page_box {
	padding-top: 50px;
	padding-right: 0;
	padding-left: 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.title {
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 20px;
}

.title_h1 {
	text-align: center;
	font-size: 40px;
	font-weight: normal;
	color: #862016;
	animation: glitchc 0.95s infinite alternate;
}

.cover_title_h2 {
	text-align: center;
	font-size: 22px;
	font-weight: 100;
	letter-spacing: 0.2em;
	color: #fff;
}

@keyframes Appear {
	from {
		opacity: 0;
		transform: translateY(20px) scale(0.95);
	}

	to {
		opacity: 1;
		transform: translateY(0px) scale(1);
	}
}

.cover_bg {
	background-image: url("../images/index/bg_bg.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: auto 100%;
	position: relative;
	animation: Appear 1s cubic-bezier(0.52, 0.01, 0.16, 1);
}

.cover_fg {
	background-image: url("../images/index/bg_fg.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: auto 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.cont_box_big_cover {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
}

.cont_box_small {
	position: relative;
	padding-top: 58.59375%;
}

.cont_box {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
}

.link_h3 {
	font-size: 40px;
	color: #fff;
	text-align: center;
	font-weight: normal;
	width: 100%;
	position: absolute;
	top: 35%;
	transition: 0.32s cubic-bezier(0.52, 0.01, 0.16, 1);
	transform: translateY(8px);
	opacity: 0;
	white-space: nowrap;
}

@media (max-width:767px) {
	.cover_title_h2 {
		font-size: 14px;
	}

	.link_h3 {
		font-size: 24px;
	}
}

.cover_band_cont {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: auto 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.mordekaiser {
	background-image: url("../images/index/mordekaiser.png");
	z-index: 1;
}

.mordekaiser_link {
	position: absolute;
	width: 32%;
	height: 65%;
	left: 59%;
	top: 18%;
	z-index: 6;
}

.mordekaiser_link:hover+.mordekaiser {
	animation: glitchb 1.1s infinite alternate;
}

.mordekaiser_link:hover .link_h3 {
	opacity: 1;
	transform: translateY(0px);
}

.karthus {
	background-image: url("../images/index/karthus.png");
	z-index: 5;
}

.karthus_link {
	position: absolute;
	width: 15%;
	height: 41%;
	left: 35%;
	top: 53%;
	z-index: 10;
}

.karthus_link:hover+.karthus {
	animation: glitchb 1.1s infinite alternate;
}

.karthus_link:hover .link_h3 {
	opacity: 1;
	transform: translateY(0px);
}

.yorick {
	background-image: url("../images/index/yorick.png");
	z-index: 2;
}

.yorick_link {
	position: absolute;
	width: 20%;
	height: 42%;
	left: 55%;
	top: 52%;
	z-index: 7;
}

.yorick_link:hover+.yorick {
	animation: glitchb 1.1s infinite alternate;
}

.yorick_link:hover .link_h3 {
	opacity: 1;
	transform: translateY(0px);
}

.sona {
	background-image: url("../images/index/sona.png");
	z-index: 2;
}

.sona_link {
	position: absolute;
	width: 16%;
	height: 40%;
	left: 21%;
	top: 29%;
	z-index: 7;
}

.sona_link:hover+.sona {
	animation: glitchb 1.1s infinite alternate;
}

.sona_link:hover .link_h3 {
	opacity: 1;
	transform: translateY(0px);
}

.olaf {
	background-image: url("../images/index/olaf.png");
	z-index: 3;
}

.olaf_link {
	position: absolute;
	width: 19%;
	height: 35%;
	left: 11%;
	top: 49%;
	z-index: 8;
}

.olaf_link:hover+.olaf {
	animation: glitchb 1.1s infinite alternate;
}

.olaf_link:hover .link_h3 {
	opacity: 1;
	transform: translateY(0px);
}

.kayle {
	background-image: url("../images/index/kayle.png");
	z-index: 1;
}

.kayle_link {
	position: absolute;
	width: 24%;
	height: 45%;
	left: 37%;
	top: 26%;
	z-index: 6;
}

.kayle_link:hover+.kayle {
	animation: glitchb 1.1s infinite alternate;
}

.kayle_link:hover .link_h3 {
	opacity: 1;
	transform: translateY(0px);
}

/* MV */
.mv_title {
	padding-top: 6%;
}

.title_h4 {
	text-align: center;
	font-size: 10px;
	font-weight: 700;
	color: #fff;
	letter-spacing: 0.2em;
	margin-top: 30px;
}

.cont_box_big_mv {
	width: 90%;
	max-width: 744px;
	/* margin: 25px auto 200px; */
	margin: 25px auto 10%;
	cursor: pointer;
}

.mv_video {
	width: 100%;
	height: 100%;
	position: absolute;
}

.mv_name_box {
	position: relative;
	width: 100%;
	height: 100%;
}

.mv_name {
	width: 36%;
	height: 20%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	text-align: center;
}

.title_h3 {
	font-size: 40px;
	color: #fff;
	font-weight: normal;
}

@media (max-width:767px) {
	.title_h1 {
		font-size: 30px;
	}

	.title_h3 {
		font-size: 24px;
	}
}

.mv_play {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	margin-bottom: 5%;
}

.mv_play_border {
	display: block;
	width: 75px;
	height: 75px;
	border-radius: 50%;
	border: 1px solid #fff;
	margin: 0 auto;
	position: relative;
	transform: scale(0.97);
	transition: 0.38s cubic-bezier(0.52, 0.01, 0.16, 1);
}

@media (max-width:767px) {
	.mv_play_border {
		width: 60px;
		height: 60px;
	}
}

.mv_icon {
	width: 15px;
	height: 15px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.mv_play_icon {
	position: absolute;
	left: 2px;
	width: 100%;
	height: 100%;
	transition-property: visibility, opacity, transform;
	transition-duration: 0ms, 380ms, 380ms;
	transition-timing-function: cubic-bezier(0.52, 0.01, 0.16, 1);
}

.normal {
	opacity: 1;
	transition-delay: 0ms, 0ms, 0ms;
}

.hover {
	opacity: 0;
	transform: translateX(-70%);
	transition-delay: 380ms, 0ms, 0ms;
}

/* 专辑 */
.album-row {
	margin: 0;
}

.flexbox {
	display: flex;
	justify-content: space-around;
	width: 100%;
	max-width: 1280px;
	margin: 100px auto 50px;
}

.album-img-box {
	width: 100%;
	max-width: 300px;
	margin: 0 auto;
	border: 2px solid rgba(255, 255, 255, 0.15);
	cursor: pointer;
	transition: 0.87s cubic-bezier(0.7, 0.3, 0, 1);
}

.album-img {
	width: 100%;
}

.album-info {
	text-align: center;
	margin-top: 50px;
}

.album-info h2 {
	color: #fff;
	font-weight: 100;
	font-family: none;
	margin: 0 auto 40px;
}

@media (max-width: 976px) {
	.album-info h1 {
		font-size: 30px;
	}

	.album-info h2 {
		font-size: 22px;
	}
}

@media (max-width: 767px) {
	.album-img-box {
		width: 60vw;
		max-width: none;
	}

	.flexbox {
		display: block;
		margin: 50px auto 50px;
	}

	.album-info {
		margin-top: 10px;
	}

	.album-info p {
		display: none;
	}
}

/* 惩与燃 */
.album_cont_box {
	position: relative;
	margin: calc(60px + 0.8%) 0 140px;
}

.single_left h2,
.single_middle h2,
.single_right h2 {
	text-align: center;
	font-size: 14px;
	font-weight: 100;
	letter-spacing: 0.03em;
	line-height: 1.4em;
	color: #fff;
	margin: 0;
}

/* 中间部分 */
.single_middle {
	position: relative;
	z-index: 100;
	margin: 0 auto;
	width: 32vw;
	height: 32vw;
}

.single_middle>.cover {
	position: relative;
	width: 100%;
	height: 100%;
	border: 0;
	padding: 0;
	background-color: transparent;
}

.single_middle>.cover>.inner {
	display: table;
	width: 100%;
	height: 100%;
}

.single_middle>.cover>.inner>.inner {
	display: table-cell;
	vertical-align: middle;
}

.img-carousel {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.img-carousel-overflow-overflow {
	position: absolute;
	left: -40%;
	top: 0;
	width: 180%;
	height: 100%;
	transform: translateX(-20%);
}

.img-carousel-overflow {
	transform: translateX(40%);
}

.img-wrap {
	transform: translateX(-20%) scale(1);
	background-color: black;
}

.overflow-list-wrap {
	position: relative;
	overflow: hidden;
}

.img-carousel-overflow-overflow,
.img-carousel-overflow,
.img-wrap {
	will-change: transform;
	transition: transform 0.87s cubic-bezier(0.7, 0.3, 0, 1);
}

.img-carousel-overflow-overflow,
.img-carousel-overflow {
	overflow: hidden;
}

.img-carousel-overflow,
.img-wrap,
.imgs,
.img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.overflow-list-wrap ul {
	list-style: none;
	margin: 0;
	padding: 0;
	transition: 0.75s cubic-bezier(0.7, 0.3, 0, 1);
}

.single_middle .imgs {
	list-style: none;
	margin: 0;
	padding: 0;
	transition-delay: 0.35s;
}

.track-thumb {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.img-carousel .overflow-list-wrap li:nth-child(1) {
	top: 0%;
}

.img-carousel .overflow-list-wrap li:nth-child(2) {
	top: 100%;
}

.img-carousel .overflow-list-wrap li:nth-child(3) {
	top: 200%;
}

.img-carousel .overflow-list-wrap li:nth-child(4) {
	top: 300%;
}

.img-carousel .overflow-list-wrap li:nth-child(5) {
	top: 400%;
}

.img-carousel .overflow-list-wrap li:nth-child(6) {
	top: 500%;
}

.img-carousel .overflow-list-wrap li:nth-child(7) {
	top: 600%;
}

.img-carousel .overflow-list-wrap li:nth-child(8) {
	top: 700%;
}

.img-carousel .overflow-list-wrap li:nth-child(9) {
	top: 800%;
}

.img-carousel .overflow-list-wrap li:nth-child(10) {
	top: 900%;
}

.img-carousel .overflow-list-wrap li:not(:first-child) {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
}

.single_inf,
.play-btn-wrap {
	transform: translateZ(0) scale(1, 1);
}

.single_inf {
	transition: 0.35s cubic-bezier(0.62, 0.02, 0.34, 1);
}

.single_inf .single_title {
	list-style: none;
	margin: 0;
	padding: 0;
	transition-delay: 0s;
}

.single_inf .overflow-list-wrap li:nth-child(1) {
	top: 0%;
}

.single_inf .overflow-list-wrap li:nth-child(2) {
	top: 100%;
}

.single_inf .overflow-list-wrap li:nth-child(3) {
	top: 200%;
}

.single_inf .overflow-list-wrap li:nth-child(4) {
	top: 300%;
}

.single_inf .overflow-list-wrap li:nth-child(5) {
	top: 400%;
}

.single_inf .overflow-list-wrap li:nth-child(6) {
	top: 500%;
}

.single_inf .overflow-list-wrap li:nth-child(7) {
	top: 600%;
}

.single_inf .overflow-list-wrap li:nth-child(8) {
	top: 700%;
}

.single_inf .overflow-list-wrap li:nth-child(9) {
	top: 800%;
}

.single_inf .overflow-list-wrap li:nth-child(10) {
	top: 900%;
}

.single_inf .overflow-list-wrap li:not(:first-child) {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
}

h4 {
	text-align: center;
	font-size: 10px;
	font-weight: 700;
	color: #fff;
	letter-spacing: 0.2em;
	padding-bottom: 10px;
	margin: 0;
}

.title-overflow {
	pointer-events: none;
	margin: 18px 0 12px;
	width: 200%;
	margin-left: -50%;
}

.title-overflow .singlename {
	list-style: none;
	margin: 0;
	padding: 0;
	transition-delay: 0.2s;
	position: relative;
	top: -1px;
}

h3 {
	font-size: 40px;
	color: #fff;
	margin: 0;
}

@media (max-width:767px) {
	h3 {
		font-size: 24px;
	}
}

.overflow-list-wrap .singletime {
	list-style: none;
	margin: 0;
	padding: 0;
	transition-delay: 0.4s;
}

.play-btn-wrap {
	position: absolute;
	bottom: 36px;
	left: 0;
	width: 100%;
	text-align: center;
}

@media (max-width:500px) {
	.play-btn-wrap {
		bottom: 3vw;
	}
}

@media (max-width:850px) {
	.play-btn-wrap {
		bottom: 36px;
	}
}

@media (max-width:1150px) {
	.play-btn-wrap {
		bottom: 1vw;
	}
}

.large {
	width: 75px;
	height: 75px;
}

@media (max-width:800px) {
	.play-btn-wrap .large {
		width: 60px;
		height: 60px;
	}
}

@media (max-width: 900px) and (min-width: 800px) {
	.play-btn-wrap .large {
		width: 60px;
		height: 60px;
	}
}

.imgs {
	transform: translateY(-00%);
}

.single_title {
	transform: translateY(-00%);
}

.singlename {
	transform: translateY(-00%);
}

.singletime {
	transform: translateY(-00%);
}

/* 左右部分 */
.single_left {
	position: absolute;
	left: 22%;
	z-index: 50;
}

.single_right {
	position: absolute;
	left: 78%;
}

.single_left,
.single_right {
	width: 24vw;
	height: 24vw;
	margin: -12vw 0 0 -12vw;
	display: block;
	z-index: 10;
	top: 50%;
	border: 0;
	padding: 0;
	background-color: transparent;
	transition: 0.87s cubic-bezier(0.7, 0.3, 0, 1);
}

.single_left .inner,
.single_right .inner {
	display: table;
	width: 100%;
	height: 100%;
}

.single_left>.inner>.inner,
.single_right>.inner>.inner {
	display: table-cell;
	vertical-align: middle;
}

.prev-imgs-wrap,
.prev-imgs,
.next-imgs-wrap,
.next-imgs {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.prev-imgs,
.next-imgs {
	list-style: none;
	margin: 0;
	padding: 0;
}

.prev-imgs {
	transform: translateY(-700%);
}

.next-imgs {
	transform: translateY(-100%);
}

.prev-imgs li,
.next-imgs li {
	width: 100%;
	height: 100%;
}

.single_left .overflow-list-wrap li:nth-child(1) {
	top: 0%;
}

.single_left .overflow-list-wrap li:nth-child(2) {
	top: 100%;
}

.single_left .overflow-list-wrap li:nth-child(3) {
	top: 200%;
}

.single_left .overflow-list-wrap li:nth-child(4) {
	top: 300%;
}

.single_left .overflow-list-wrap li:nth-child(5) {
	top: 400%;
}

.single_left .overflow-list-wrap li:nth-child(6) {
	top: 500%;
}

.single_left .overflow-list-wrap li:nth-child(7) {
	top: 600%;
}

.single_left .overflow-list-wrap li:nth-child(8) {
	top: 700%;
}

.single_left .overflow-list-wrap li:nth-child(9) {
	top: 800%;
}

.single_left .overflow-list-wrap li:nth-child(10) {
	top: 900%;
}

.single_left .overflow-list-wrap li:not(:first-child) {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
}

.single_right .overflow-list-wrap li:nth-child(1) {
	top: 0%;
}

.single_right .overflow-list-wrap li:nth-child(2) {
	top: 100%;
}

.single_right .overflow-list-wrap li:nth-child(3) {
	top: 200%;
}

.single_right .overflow-list-wrap li:nth-child(4) {
	top: 300%;
}

.single_right .overflow-list-wrap li:nth-child(5) {
	top: 400%;
}

.single_right .overflow-list-wrap li:nth-child(6) {
	top: 500%;
}

.single_right .overflow-list-wrap li:nth-child(7) {
	top: 600%;
}

.single_right .overflow-list-wrap li:nth-child(8) {
	top: 700%;
}

.single_right .overflow-list-wrap li:nth-child(9) {
	top: 800%;
}

.single_right .overflow-list-wrap li:nth-child(10) {
	top: 900%;
}

.single_right .overflow-list-wrap li:not(:first-child) {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
}

.prev-next-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.prev-content-wrap {
	left: -25%;
}

.next-content-wrap {
	left: 25%;
}

.nextinf {
	transform: translateY(-100%);
}

.previnf {
	transform: translateY(-700%);
}

.prev-content-wrap .overflow-list-wrap li:nth-child(1) {
	top: 0%;
}

.prev-content-wrap .overflow-list-wrap li:nth-child(2) {
	top: 100%;
}

.prev-content-wrap .overflow-list-wrap li:nth-child(3) {
	top: 200%;
}

.prev-content-wrap .overflow-list-wrap li:nth-child(4) {
	top: 300%;
}

.prev-content-wrap .overflow-list-wrap li:nth-child(5) {
	top: 400%;
}

.prev-content-wrap .overflow-list-wrap li:nth-child(6) {
	top: 500%;
}

.prev-content-wrap .overflow-list-wrap li:nth-child(7) {
	top: 600%;
}

.prev-content-wrap .overflow-list-wrap li:nth-child(8) {
	top: 700%;
}

.prev-content-wrap .overflow-list-wrap li:nth-child(9) {
	top: 800%;
}

.prev-content-wrap .overflow-list-wrap li:nth-child(10) {
	top: 900%;
}

.prev-content-wrap .overflow-list-wrap li:not(:first-child) {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
}

.next-content-wrap .overflow-list-wrap li:nth-child(1) {
	top: 0%;
}

.next-content-wrap .overflow-list-wrap li:nth-child(2) {
	top: 100%;
}

.next-content-wrap .overflow-list-wrap li:nth-child(3) {
	top: 200%;
}

.next-content-wrap .overflow-list-wrap li:nth-child(4) {
	top: 300%;
}

.next-content-wrap .overflow-list-wrap li:nth-child(5) {
	top: 400%;
}

.next-content-wrap .overflow-list-wrap li:nth-child(6) {
	top: 500%;
}

.next-content-wrap .overflow-list-wrap li:nth-child(7) {
	top: 600%;
}

.next-content-wrap .overflow-list-wrap li:nth-child(8) {
	top: 700%;
}

.next-content-wrap .overflow-list-wrap li:nth-child(9) {
	top: 800%;
}

.next-content-wrap .overflow-list-wrap li:nth-child(10) {
	top: 900%;
}

.next-content-wrap .overflow-list-wrap li:not(:first-child) {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
}

.prev-content-wrap li *,
.next-content-wrap li * {
	transition: 0.3s;
}

.single_left h4,
.single_left h2 {
	text-align: right;
}

.single_right h4,
.single_right h2 {
	text-align: left;
}

.single_left h2,
.single_right h2,
.playing_info h2 {
	font-size: 14px;
	letter-spacing: 0.03em;
}

.arrow-left,
.arrow-right {
	width: 30px;
	height: 30px;
}

.single_left .prev-btn {
	position: absolute;
	right: 10%;
	top: 50%;
	margin-top: -15px;
}

.single_right .next-btn {
	position: absolute;
	left: 10%;
	top: 50%;
	margin-top: -15px;
}

.arrow-left::before,
.arrow-left::after,
.arrow-right::before,
.arrow-right::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: 0.38s cubic-bezier(0.52, 0.01, 0.16, 1);
}

.arrow-left::before,
.arrow-left::after {
	background: url("../images/album/arrow-left.svg") no-repeat center center/100%;
}

.arrow-left::after {
	opacity: 0;
	transform: translateX(30%);
}

.single_left:hover .arrow-left::before {
	opacity: 0;
	transform: translateX(-30%);
}

.single_left:hover .arrow-left::after {
	opacity: 1;
	transform: translateX(0%);
}

.arrow-right::before,
.arrow-right::after {
	background: url("../images/album/arrow-right.svg") no-repeat center center/100%;
}

.arrow-right::after {
	opacity: 0;
	transform: translateX(-30%);
}

.single_right:hover .arrow-right::before {
	opacity: 0;
	transform: translateX(30%);
}

.single_right:hover .arrow-right::after {
	opacity: 1;
	transform: translateX(0%);
}

@media (max-width:1024px) {
	.prev-content-wrap {
		display: none;
	}

	.next-content-wrap {
		display: none;
	}

	.single_left .prev-btn {
		right: 20%;
	}

	.single_right .next-btn {
		left: 20%;
	}
}

@media (max-width:850px) {
	.single_middle {
		margin-top: -8px;
		width: 60vw;
		height: 65vw;
	}

	.single_left,
	.single_right {
		width: 44vw;
		height: 44vw;
		margin: -22vw 0 0 -22vw;
	}

	.single_left .prev-btn {
		right: 70%;
	}

	.single_right .next-btn {
		left: 70%;
	}
}

/* 曲目 */
.track-number-carousel-container {
	position: absolute;
	width: 100%;
	text-align: center;
}

.labels::before {
	content: '';
	display: block;
	width: 1px;
	height: 30px;
	margin: 10px auto 0;
	background-color: rgba(255, 255, 255, 0.15);
}

.labels .text {
	display: block;
	margin-top: 7px;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.8);
	font-size: 11px;
	letter-spacing: 0.1em;
}

.carousel-wrapper {
	max-width: 90%;
	margin: 0 auto;
}

.carousel {
	margin: 10px auto;
}

.owl-carousel {
	display: none;
	width: 100%;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	z-index: 1;
}

.owl-carousel.owl-loaded {
	display: block;
}

.owl-stage-outer {
	position: relative;
	overflow: hidden;
}

.owl-stage {
	position: relative;
	transition: all 0s ease 0s;
}

.owl-item {
	width: 30px;
}

.owl-carousel .owl-item {
	position: relative;
	min-height: 1px;
	float: left;
}

.track-button {
	display: block;
	width: 30px;
	height: 15px;
	padding: 0;
	border: 0;
	background-color: transparent;
	vertical-align: bottom;
	color: rgba(255, 255, 255, 0.3);
	font-size: 11px;
	line-height: 1;
	transition-property: color;
	transition-duration: 300ms;
}

.track-number-carousel-container .carousel .owl-item.center .track-button {
	color: rgba(255, 255, 255, 0.8);
	font-size: 15px;
}

.track-button:hover {
	color: rgba(255, 255, 255, 0.8);
}

.owl-carousel .owl-stage:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.album-cyr,
.album-bmzw {
	display: none;
}

/* 隐藏,显示动画 */
/* 左边消失 */
@keyframes leftHide {
	from {
		transform: translate3d(0px, 0px, 0px);
		opacity: 1;
	}

	to {
		transform: translate3d(-300px, 0px, 0px);
		opacity: 0;
	}
}

/* 左边出现 */
@keyframes leftShow {
	from {
		transform: translate3d(-300px, 0px, 0px);
		opacity: 0;
	}

	to {
		transform: translate3d(0px, 0px, 0px);
		opacity: 1;
	}
}

/* 右边消失 */
@keyframes rightHide {
	from {
		transform: translate3d(0px, 0px, 0px);
		opacity: 1;
	}

	to {
		transform: translate3d(300px, 0px, 0px);
		opacity: 0;
	}
}

/* 右边出现 */
@keyframes rightShow {
	from {
		transform: translate3d(300px, 0px, 0px);
		opacity: 0;
	}

	to {
		transform: translate3d(0px, 0px, 0px);
		opacity: 1;
	}
}

/* 顶部消失 */
@keyframes topHide {
	from {
		transform: translate3d(0px, 0px, 0px);
		opacity: 1;
	}

	to {
		transform: translate3d(0px, -100px, 0px);
		opacity: 0;
	}
}

/* 顶部出现 */
@keyframes topShow {
	from {
		transform: translate3d(0px, -100px, 0px);
		opacity: 0;
	}

	to {
		transform: translate3d(0px, 0px, 0px);
		opacity: 1;
	}
}

/* 底部消失 */
@keyframes bottomHide {
	from {
		transform: translate3d(0px, 0px, 0px);
		opacity: 1;
	}

	to {
		transform: translate3d(0px, 50px, 0px);
		opacity: 0;
	}
}

/* 底部出现 */
@keyframes bottomShow {
	from {
		transform: translate3d(0px, 50px, 0px);
		opacity: 0;
	}

	to {
		transform: translate3d(0px, 0px, 0px);
		opacity: 1;
	}
}

/* 轮播图消失 */
@keyframes albumHide {
	from {
		opacity: 1;
		transform: scale(1);
	}

	to {
		opacity: 0;
		transform: scale(0.5);
	}
}

/* 轮播图出现 */
@keyframes albumShow {
	from {
		opacity: 0;
		transform: scale(0.5);
	}

	to {
		opacity: 1;
		transform: scale(1);
	}
}

.close-but-hover {
	display: none;
}

.close-but {
	transform: translate3d(0px, -100px, 0px);
	opacity: 0;
	width: 43px;
	height: 43px;
	border: 1px solid #757575;
	border-radius: 50%;
	position: absolute;
	right: 0;
	left: 0;
	margin: auto;
	cursor: pointer;
	transition: 1s cubic-bezier(0.7, 0.3, 0, 1);
}

.close-but::before,
.close-but::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 29%;
	height: 29%;
	transition: .5s cubic-bezier(0.62, 0.02, 0.34, 1);
}

.close-but::before {
	background: url("../images/album/close.svg") no-repeat center center/100%;
}

.close-but::after {
	background: url("../images/album/close-hover.svg") no-repeat center center/100%;
}

.close-but::after {
	opacity: 0;
}

.close-but-hover:hover .close-but::after {
	opacity: 1;
}

.close-but-hover:hover .close-but {
	transition: .5s cubic-bezier(0.62, 0.02, 0.34, 1);
	border: 1px solid #ffffff;
}

/* 周边 */
.limit_h4 {
	margin-top: 0;
}

.commodity_row{
	margin: 0;
}

.commodity_div {
	width: 53%;
	border: 2px solid rgba(255, 255, 255, 0.15);
	margin: 15px auto 0;
	cursor: pointer;
	transition: 0.87s cubic-bezier(0.7, 0.3, 0, 1);
}

.commodity_img {
	width: 100%;
}

.commodity_name {
	margin: 0;
	padding-top: 15px;
	font-weight: 100;
	color: #ffffff;
	text-align: center;
}

.commodity_price {
	text-align: center;
	padding-bottom: 50px;
}

.commodity_span {
	font-size: 30px;
}

@media (max-width:976px) {
	.commodity_name {
		font-size: 22px;
	}

	.commodity_span {
		font-size: 20px;
	}
}

@media (max-width:767px) {
	.commodity_div {
		width: 60vw;
	}
}

/* 乐队成员 */
.introduce {
	max-width: 720px;
	margin: 0 auto 40px;
	padding: 0 20px;
	overflow: hidden;
	max-height: 430px;
}

.intro {
	text-align: center;
	max-width: 460px;
	margin: 0 auto;
}

.section-body {
	margin-top: 50px;
}

.quote {
	margin-top: 30px;
	font-size: 1.5vw;
	text-transform: uppercase;
	letter-spacing: 0.17em;
	line-height: 1.4em;
	color: #ffffff;
}

.band-members {
	padding-top: 70px;
	padding-right: 0;
	padding-left: 0;
}

.band-member {
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.band-member>.inner {
	overflow: hidden;
	padding: 100px 0 70px;
}

.band-member>.inner>.inner {
	max-width: 1280px;
	margin: 0 auto;
}

@keyframes partAppear {
	from {
		transform: translateY(10px) scale(0.88);
	}

	to {
		transform: translateY(0px) scale(1);
	}
}

.band-member .part {
	position: relative;
	width: 50%;
	float: left;
	/* animation: partAppear 0.4s cubic-bezier(0.52, 0.01, 0.16, 1); */
}

.band-member .part.image {
	z-index: 1;
	width: 50%;
}

.band-member .part.image>.inner {
	position: absolute;
	top: 0;
}

.band-member .part.image>.inner .image {
	display: block;
}

.part.image>.inner::after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100px;
	background-image: linear-gradient(to bottom, transparent 0%, #000 100%);
}

@media (min-width: 802px) {
	.img_float {
		float: right !important;
	}
}

@media (max-width: 801px) {
	.band-member .part {
		float: none !important;
	}

	.band-member .part.image {
		width: 100%;
		height: auto !important;
		margin: 0 auto -44px;
	}

	.band-member .part.image>.inner {
		position: relative;
		left: auto !important;
		right: auto !important;
		width: 100%;
		min-width: 600px;
		margin-left: 50%;
		transform: translateX(-50%);
	}

	.band-member .part.image>.inner .image {
		width: 100%;
	}
}

.band-member .part.info {
	z-index: 2;
}

.band-member .part.info.info_float {
	float: right;
}

.band-member .part.info>.inner {
	margin: 0 29% 0 4%;
}

.loop-ani-skew {
	position: relative;
	animation: glitchc 0.95s infinite alternate;
}

.band-member .part.info h1,
.band-member .part.info h2 {
	text-align: left;
}

h2.smaller {
	margin: 0;
	padding-bottom: 2em;
	color: #ffffff;
	font-weight: 100;
}

@media (min-width: 801px) {
	.info_margin {
		margin: 0 4% 0 23% !important;
	}

	h2.smaller {
		font-size: 1.5vw;
	}
}

@media (min-width: 1280px) {
	h2.smaller {
		font-size: 22px;
	}
}

@media (max-width: 801px) {
	.band-member .part.info {
		width: 80%;
		margin: 0 0 0 10%;
	}

	.band-member .part.info>.inner {
		margin: 0;
	}

	h1 {
		font-size: 30px;
	}

	h2.smaller {
		font-size: 14px;
	}

	p {
		font-size: 12px;
	}
}

/* 巡回演出 */
.tour {
	animation: none;
}

.subtitle_div {
	width: 90%;
	border-top: 1px solid rgba(255, 255, 255, 0.15);
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
	margin: 35px auto;
	cursor: pointer;
	transition: 0.87s cubic-bezier(0.7, 0.3, 0, 1);
}

.tour_img{
	width: 100%;
}

.end {
	padding: 0 20px 100px 20px;
}

/* 页脚 */
.footer_box {
	text-align: center;
	padding-right: 0;
	padding-left: 0;
	border-top: 1px solid rgba(255, 255, 255, 0.15);
	padding: 20px 0 50px 0;
}

.footer_box p {
	font-size: 14px;
	color: rgba(255, 255, 255, 0.3);
	margin: 0;
}

.footer_box a {
	color: rgba(255, 255, 255, 0.3);
	transition-property: color;
	transition-duration: 300ms;
}

.footer_box a:hover {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.8);
}
